[telegram]
# https://core.telegram.org/bots#6-botfather
token = 110201543:AAHdqTcvCH1vGWJxfSeofSAs0K5PALDsaw

# User IDs allowed to access the bots
users = 12354, 543431

[spotify]
username : SpotifyUser

[bookmarks]
Current : 5aftzefdrefg
MyBookmark : zwdffee124455,  14r434343434
Alpha : 34q1341441414, abcdef
Bravo : xadf45342424
